# Exemples inutiles
fork_example.c
execve_example.c
fork_return_value.c
fork_wait_execve.c
_which.c
getppid.c
print_args.c
read_line.c

# Binaires générés
hsh
simple_shell

# Configurations locales
.vscode/
pid_max.sh
print_args
read_line
